html {
	font: 112%/1.5 'Libre Baskerville', serif;
	font-weight: 400;
	line-height: 1.52;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body { background-color: #fdfdfd; color: #222222; font-size: 1.2rem; }

/*** Font ***/
@font-face {
	font-family: 'DejaVu Sans Mono';
	src: url('/media/fonts/DejaVuSansMono.ttf');
}

h1, h2, h3, h4, h5 { 
	font-weight: 600; margin: 0; 
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.7rem;
	margin-bottom: .75rem;
}

h3 { font-size: 1.2rem;}

.footer p {
	font-size: 0.7em;
	font-style: italic;
}

.profile-pic { text-align: center; }
.profile-pic img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background-repeat: no-repeat;
	background-position: center;
}

li {
	padding-left: 2em;
	text-indent: -2em;
}

.menu ul, .blog-listing ol { list-style: none; }
.menu.top { text-align: center; }

.blog-content, .blog-listing { margin: 0 auto; }

.description { font-size: 0.8rem; font-style: italic; }
.codebox { border-style: solid; border-width: 1px; padding: 0 10px; }
.codebox pre { font-family: 'DejaVu Sans Mono'; font-size: 0.8rem; }
/* cheap trick to get rid of <figcaption> and <br>
 * inside codebox 
 */
.codebox figcaption, .codebox br { display: none; }
.highlight br { display: inline; }
