@import "_variables";
@import "_mixins";


*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	@include border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	/* Set your content font stack here: */
	font-family: $default-font;
	font-size: $default-font-size;
	color: $primary-text-color;
	line-height: $default-line-height;
	font-weight: $default-font-weight;
	letter-spacing: 1px;
}

h1, h2, h3 { color: $primary-color;}
h4, h5 { color: $secondary-text-color; }
a { text-decoration: none; }

.brand-name { font-size: 3.5rem; line-height: 1.1; }
.header { padding-bottom: 2rem; border-bottom: 3px solid #fff; }
.contact { padding-top: 2rem; }

h2 { 
	font-size: 2.5rem; 

	&.title {
		margin-bottom: 1.2rem;
		padding-bottom: 1.2rem;
		border-bottom: 5px solid #ddd;
		.fa { margin-right: 2rem; color: #555; }
	}
	&.hello {
		font-family: $cursive-font;
		font-size: 3rem;
	}
	&.brand-tagline { font-size: 1.4rem; }
}

.wrapper { 
	min-height: 100vh !important;
}

#sidebar {
	background-color: $primary-color;
	color: $sidebar-text-color;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	height: 100vh;

	h1, h2, h3, a { color: $sidebar-text-color; }
}

#main {
	height: 100vh;

	.content {
		font-size: 1.22rem;

		ul { margin-left: 8%; }

		h3 { color: $primary-text-color; }
	}
}

.scrolling-content { width: 100%; }

.slick-dots {
	position: absolute;
	top: 45%;
	right: 50px;
	list-style-type: none;
	width: 10px;

	li {
		position: relative;
		width: 10px;
		height: 10px;
		line-height: 1;
		margin: 0 10px 15px;
		background: transparent;
		opacity: 1;

		button {
			font-size: 10px;
			height: 8px; width: 8px;
			color: #fff !important;
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid transparent;
			background: #cccccc;
			@include border-radius(50%);
		}
		&.slick-active button {
			background: #555555;
		}
	}
}

#fp-nav ul li .fp-tooltip { color: #212121; font-family: inherit; top: -8px; font-size: 0.95rem; }

.circle-img { @include border-radius(50%); }
.center { text-align: center; margin: 0 auto; }
.center-flex { display: flex; justify-content: center; align-items: center; }
.valign { position: relative; top: 50%; transform: translateY(50%); }
