$asap-font: 'Asap', sans-serif;
$lato-font: 'Lato', sans-serif;

$default-font: $lato-font;
$primary-text-color: #353535;
$secondary-text-color: #8c8c8c;
$sidebar-text-color: #fff;

$default-line-height: 1.6;
$default-font-weight: 400;

/* Default Color Scheme */
$primary-color: #c1343e;

$small: 35.5em; /* 568px */
$medium: 48em; /* 768px */
$large: 64em; /* 1024px */
$xlarge: 80em; /* 1280px */
