$default-font: 'Lato', 'Asap', sans-serif;
$primary-text-color: #353535;
$secondary-text-color: #8c8c8c;
$sidebar-text-color: #fff;

$default-line-height: 1.6;
$default-font-weight: 400;

/* Default Color Scheme */
$primary-color: #c1343e;
