/* Default Color Scheme */
/* 568px */
/* 768px */
/* 1024px */
/* 1280px */
/* Default Color Scheme */
/* 568px */
/* 768px */
/* 1024px */
/* 1280px */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Lato", sans-serif;
  color: #353535; }

h1, h2, h3 {
  color: #c1343e; }

h4, h5 {
  color: #8c8c8c; }

a {
  text-decoration: none; }

@media screen and (min-width: 35.5em) {
  .wrapper {
    height: 100vh !important; } }
.wrapper .content-block {
  max-width: 750px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto; }

#sidebar {
  background-color: #c1343e;
  color: #fff;
  text-align: center;
  letter-spacing: 2px; }
  #sidebar h1, #sidebar h2, #sidebar h3, #sidebar a {
    color: #fff; }
  @media screen and (min-width: 48em) {
    #sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      height: 100vh; } }

@media screen and (min-width: 48em) {
  #main {
    margin-left: 33%;
    height: 100vh; } }
@media screen and (min-width: 64em) {
  #main {
    margin-left: 25%; } }

.slick-dots {
  position: absolute;
  top: 45%;
  right: 50px;
  list-style-type: none;
  width: 10px; }
  .slick-dots li {
    position: relative;
    width: 10px;
    height: 10px;
    line-height: 1;
    margin: 0 10px 15px;
    background: transparent; }
    .slick-dots li button {
      font-size: 10px;
      color: #fff !important;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
