{% extends "base_blog.j2" %}

{% block blog_content %}
<article id="{{resource.meta.title}}">
	<h2>{% block title -%}{{ resource.meta.title }}{%- endblock %}</h2>
	<div>
	{% filter markdown|typogrify -%}
	{% mark content -%}
	{% block content -%}
	{%- endblock %}
	{%- endmark %}
	{%- endfilter %}
	</div>
</article>
{% endblock %}
