<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	{% block starthead %}{% endblock starthead %}
	<meta charset="{{ resource.meta.charset }}">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
			 Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

	<!-- encoding must be specified within the first 512 bytes
				www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

	<!-- meta element for compatibility mode needs to be before
				all elements except title & meta
				msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
	<!-- Chrome Frame is only invoked if meta element for
				compatibility mode is within the first 1K bytes
				code.google.com/p/chromium/issues/detail?id=23003 -->

	<title>{% block title %}{{ page.title|safe }} | {{ site.name }}{% endblock %}</title>
	<meta name="description" content="{{ resource.meta.description }}">
	<meta name="author" content="{{ resource.meta.author }}">

	<!--	Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="{{ resource.meta.viewport }}">

	{% block favicons %}
	<!-- Place favicon.ico & apple-touch-icon.png
				in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
	<link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
	{% endblock favicons %}

	<link rel="stylesheet" type="text/css" href="{{ media_url('css/normalize.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ media_url('css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ media_url('css/syntax.css') }}">
	{% block extra_css %}{% endblock extra_css %}

	{% block headjs %}
	<!-- All JavaScript at the bottom, except for Modernizr which
				enables HTML5 elements & feature detects -->
	{% endblock headjs %}
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
	{% block endhead %}{% endblock endhead %}
</head>
<body>
	<div class="container clearfix">
		{% block container %}
		<div class="header clearfix">
			{% block header %}
			{% endblock %}
		</div>
		<!-- end header -->
		<div class="content clearfix">
			{% block content %}
			{% endblock %}
		</div>
		<!-- end content -->
		<div class="footer clearfix">
			{% block footer %}
			{% endblock %}
		</div>
		<!-- end footer -->
		{% endblock container %}
	</div> 
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
	<![endif]-->
	
	<!-- Javascript at the bottom for fast page loading -->
	{% block js %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.11.0.min.js">\x3C/script>')</script>
	<script src="{{ media_url('js/libs/tinynav.min.js') }}"></script>

	{% if site.config.mode == "production" -%}
		{% include "analytics.j2" %}
	{%- endif %}

	{% endblock js %}
</body>
</html>
