{% extends "base.j2" %}

{% block header %}
<nav class="menu top">
	<a href="/">Home</a>
	<span class="seperator">/</span>
	<a href="/blog/">Blog</a>
	<span class="seperator">/</span>
	<a href="/archives/">Archives</a>
</nav>
{% endblock %}

{% block body %}
<div class="blog-content grid column-2-3"> 
	{% block blog_content %}
	{% endblock %}
</div>
{% endblock %}
