<div class="home-logo">
	<a href="/">
		<img src="{{ media_url('images/tilde.png') }}">
	</a>
</div>

<div class="nav push-right">
<ul>
	<li>
		<a href="/"><h2>Home</h2></a>
	</li>
	<li>
		<a href="/about.html"><h2>About</h2></a>
	</li>
</ul>
</div>
