<div class="grid column-full">
<div class="home-logo column-1-5">
	<a href="/">
		<img src="{{ media_url('images/tilde.png') }}">
	</a>
</div>

<div class="nav column-2-3 push-right">
<ul>
	<li>
		<a href="/"><h2>Home</h2></a>
	</li>
	<li>
		<a href="/about.html"><h2>About</h2></a>
	</li>
</ul>
</div>
</div>
